<div class="container ">
  <div class="row mt-5">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <table  class="table caption-top row-border hover">
            <thead>
              <tr>
                <th>Package ID</th>
                <th>Active Delivery ID</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let package of packages">
                <td>{{ package.package_id }}</td>
                <td>{{ package.active_delivery_id }}</td>
                <td>{{ package.description }}</td>
                <td class="row">
                  <button type="button" (click)="selectPackage(package.package_id)" data-bs-toggle="modal" data-bs-target="#updatePackageModal" class="btn btn-outline-warning">Update</button>
                  <button type="button" (click)="deletePackage(package.package_id)" class="btn btn-outline-danger mt-1">Delete</button>
                </td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>

    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <button type="button"  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#packageModal">Create
        Packages</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <caption>Delivery List</caption>
          <table id="deliveryTable"   class="table caption-top row-border hover">
            
            <thead>
              <tr>
                <th>Delivery ID</th>
                <th>Package ID</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let delivery of deliveries">
                <td>{{ delivery.delivery_id }}</td>
                <td>{{ delivery.package_id }}</td>
                <td>{{ delivery.status }}</td>
                <td class="row">
                  <button type="button" (click)="selectDelivery(delivery.delivery_id)" data-bs-toggle="modal" data-bs-target="#updateDeliveryModal" class="btn btn-outline-warning">Update</button>
                  <button type="button" (click)="deleteDelivery(delivery.delivery_id)" class="btn btn-outline-danger mt-1">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>

    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#deliveryModal">Create Delivery</button>
    </div>
  </div>







</div>


<!-- Create Package Modal -->
<div class="modal fade" id="packageModal" tabindex="-1" aria-labelledby="packageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="packageModalLabel">Create Package</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitPackage()" [formGroup]="packageForm">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description" required>
          </div>
          <div class="mb-3">
            <label for="weight" class="form-label">Weight (grams)</label>
            <input type="number" class="form-control" id="weight" formControlName="weight" required>
          </div>
          <div class="mb-3">
            <label for="width" class="form-label">Width (cm)</label>
            <input type="number" class="form-control" id="width" formControlName="width" required>
          </div>
          <div class="mb-3">
            <label for="height" class="form-label">Height (cm)</label>
            <input type="number" class="form-control" id="height" formControlName="height" required>
          </div>
          <div class="mb-3">
            <label for="depth" class="form-label">Depth (cm)</label>
            <input type="number" class="form-control" id="depth" formControlName="depth" required>
          </div>
          <div class="mb-3">
            <label for="from_name" class="form-label">From Name</label>
            <input type="text" class="form-control" id="from_name" formControlName="from_name" required>
          </div>
          <div class="mb-3">
            <label for="from_address" class="form-label">From Address</label>
            <input type="text" class="form-control" id="from_address" formControlName="from_address" required>
          </div>
          <div class="mb-3">
            <label for="from_lat" class="form-label">From Latitude</label>
            <input type="text" class="form-control" id="from_lat" formControlName="from_location_lat" required>
          </div>
          <div class="mb-3">
            <label for="from_lng" class="form-label">From Longitude</label>
            <input type="text" class="form-control" id="from_lng" formControlName="from_location_lng" required>
          </div>
          <div class="mb-3">
            <label for="to_name" class="form-label">To Name</label>
            <input type="text" class="form-control" id="to_name" formControlName="to_name" required>
          </div>
          <div class="mb-3">
            <label for="to_address" class="form-label">To Address</label>
            <input type="text" class="form-control" id="to_address" formControlName="to_address" required>
          </div>
          <div class="mb-3">
            <label for="to_lat" class="form-label">To Latitude</label>
            <input type="text" class="form-control" id="to_lat" formControlName="to_location_lat" required>
          </div>
          <div class="mb-3">
            <label for="to_lng" class="form-label">To Longitude</label>
            <input type="text" class="form-control" id="to_lng" formControlName="to_location_lng" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="packageForm.invalid">Submit</button>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Update Package Modal -->
<div class="modal fade" id="updatePackageModal" tabindex="-1" aria-labelledby="updatePackageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updatePackageModalLabel">Update Package</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitPackageUpdate()" [formGroup]="packageUpdateForm">
          <div class="mb-3">
            <label for="package_id" class="form-label">Package ID</label>
            <input type="text" [defaultValue]="packageSelected?.package_id" class="form-control" id="package_id" formControlName="package_id" readonly>
          </div>
          <div class="mb-3">
            <label for="active_delivery_id" class="form-label">Active Delivery ID</label>
            <input type="text" [defaultValue]="packageSelected?.active_delivery_id" class="form-control" id="active_delivery_id" formControlName="active_delivery_id" readonly>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" [defaultValue]="packageSelected?.description" class="form-control" id="description" formControlName="description" required>
          </div>
          <div class="mb-3">
            <label for="weight" class="form-label">Weight (grams)</label>
            <input type="number" [defaultValue]="packageSelected?.weight" class="form-control" id="weight" formControlName="weight" required>
          </div>
          <div class="mb-3">
            <label for="width" class="form-label">Width (cm)</label>
            <input type="number" [defaultValue]="packageSelected?.width" class="form-control" id="width" formControlName="width" required>
          </div>
          <div class="mb-3">
            <label for="height" class="form-label">Height (cm)</label>
            <input type="number" [defaultValue]="packageSelected?.height" class="form-control" id="height" formControlName="height" required>
          </div>
          <div class="mb-3">
            <label for="depth" class="form-label">Depth (cm)</label>
            <input type="number" [defaultValue]="packageSelected?.depth" class="form-control" id="depth" formControlName="depth" required>
          </div>
          <div class="mb-3">
            <label for="from_name" class="form-label">From Name</label>
            <input type="text" [defaultValue]="packageSelected?.from_name" class="form-control" id="from_name" formControlName="from_name" required>
          </div>
          <div class="mb-3">
            <label for="from_address" class="form-label">From Address</label>
            <input type="text" [defaultValue]="packageSelected?.from_address" class="form-control" id="from_address" formControlName="from_address" required>
          </div>
          <div class="mb-3">
            <label for="from_lat" class="form-label">From Latitude</label>
            <input type="text" [defaultValue]="packageSelected?.from_location.lat" class="form-control" id="from_lat" formControlName="from_location_lat" required>
          </div>
          <div class="mb-3">
            <label for="from_lng" class="form-label">From Longitude</label>
            <input type="text" [defaultValue]="packageSelected?.from_location.lng" class="form-control" id="from_lng" formControlName="from_location_lng" required>
          </div>
          <div class="mb-3">
            <label for="to_name" class="form-label">To Name</label>
            <input type="text" [defaultValue]="packageSelected?.to_name" class="form-control" id="to_name" formControlName="to_name" required>
          </div>
          <div class="mb-3">
            <label for="to_address" class="form-label">To Address</label>
            <input type="text" [defaultValue]="packageSelected?.to_address" class="form-control" id="to_address" formControlName="to_address" required>
          </div>
          <div class="mb-3">
            <label for="to_lat" class="form-label">To Latitude</label>
            <input type="text" [defaultValue]="packageSelected?.to_location.lat" class="form-control" id="to_lat"  formControlName="to_location_lat" required>
          </div>
          <div class="mb-3">
            <label for="to_lng" class="form-label">To Longitude</label>
            <input type="text" [defaultValue]="packageSelected?.to_location.lng" class="form-control" id="to_lng" formControlName="to_location_lng" required>
          </div>
          <button type="submit" class="btn btn-primary"
          >Submit</button>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<!-- Create Delivery Modal -->
<div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="deliveryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deliveryModalLabel">Create Delivery</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitDelivery()" [formGroup]="deliveryForm">
          
          <div class="mb-3">
            <label for="package_id" class="form-label">Package ID</label>
            <select class="form-select" id="package_id" formControlName="package_id" required>
              <option value="" disabled selected>Select a package</option>
              <option *ngFor="let package of packages" [value]="package.package_id">{{ package.description }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="pickup_time" class="form-label">Pickup Time</label>
            <input type="datetime-local" class="form-control" id="pickup_time" >
          </div>
          <div class="mb-3">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="datetime-local" class="form-control" id="start_time" >
          </div>
          <div class="mb-3">
            <label for="end_time" class="form-label">End Time</label>
            <input type="datetime-local" class="form-control" id="end_time" >
          </div>
          <div class="mb-3">
            <label for="location_lat" class="form-label">Location Latitude</label>
            <input type="number" class="form-control" id="location_lat" formControlName="location_lat" required>
          </div>
          <div class="mb-3">
            <label for="location_lng" class="form-label">Location Longitude</label>
            <input type="number" class="form-control" id="location_lng" formControlName="location_lng" required>
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select"  id="status" formControlName="status" required>
              <option value="open">Open</option>
              <option value="picked-up">Picked-up</option>
              <option value="in-transit">In-transit</option>
              <option value="in-transit">In-transit</option>
              <option value="delivered">Delivered</option>
              <option value="failed">Failed</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="deliveryForm.invalid">Submit</button>
        </form>
        


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Update Delivery Modal -->
<div class="modal fade" id="updateDeliveryModal" tabindex="-1" aria-labelledby="updateDeliveryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateDeliveryModalLabel">Update Delivery</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitDeliveryUpdate()" [formGroup]="deliveryUpdateForm">
          <div class="mb-3">
            <label for="delivery_id" class="form-label">Delivery ID</label>
            <input type="text" [value]="deliverySelected?.delivery_id" class="form-control" id="delivery_id" formControlName="delivery_id" readonly>
          </div>
          
          <div class="mb-3">
            <label for="package_id" class="form-label">Package ID</label>
            <select class="form-select" [value]="deliverySelected?.package_id" id="package_id" formControlName="package_id" required>
              <option value="" disabled selected>Select a package</option>
              <option *ngFor="let package of packages" [value]="package.package_id">{{ package.description }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="pickup_time" class="form-label">Pickup Time</label>
            <input type="datetime-local" [value]="deliverySelected?.pickup_time" class="form-control" id="pickup_time" >
          </div>
          <div class="mb-3">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="datetime-local" [value]="deliverySelected?.start_time" class="form-control" id="start_time" >
          </div>
          <div class="mb-3">
            <label for="end_time" class="form-label">End Time</label>
            <input type="datetime-local" [value]="deliverySelected?.end_time" class="form-control" id="end_time" >
          </div>
          <div class="mb-3">
            <label for="location_lat" class="form-label">Location Latitude</label>
            <input type="number" [value]="deliverySelected?.location.lat" class="form-control" id="location_lat" formControlName="location_lat" required>
          </div>
          <div class="mb-3">
            <label for="location_lng" class="form-label">Location Longitude</label>
            <input type="number" [value]="deliverySelected?.location.lng" class="form-control" id="location_lng" formControlName="location_lng" required>
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" [value]="deliverySelected?.status"  id="status" formControlName="status" required>
              <option value="open">Open</option>
              <option value="picked-up">Picked-up</option>
              <option value="in-transit">In-transit</option>
              <option value="in-transit">In-transit</option>
              <option value="delivered">Delivered</option>
              <option value="failed">Failed</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="deliveryUpdateForm.invalid">Submit</button>
        </form>
        


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
